---
# Main tasks for TinyAuth installation and configuration

- name: Install required packages
  apt:
    name:
      - python3
      - python3-pip
      - python3-venv
      - git
    state: present
    update_cache: yes

- name: Create TinyAuth user
  user:
    name: tinyauth
    system: yes
    shell: /bin/bash
    home: /opt/tinyauth
    create_home: yes

- name: Clone TinyAuth repository
  git:
    repo: 'https://github.com/kapetan/tinyauth.git'
    dest: /opt/tinyauth/app
    version: master
    force: yes
  become_user: tinyauth

- name: Create Python virtual environment
  command: python3 -m venv /opt/tinyauth/venv
  args:
    creates: /opt/tinyauth/venv/bin/activate
  become_user: tinyauth

- name: Install TinyAuth dependencies
  pip:
    requirements: /opt/tinyauth/app/requirements.txt
    virtualenv: /opt/tinyauth/venv
  become_user: tinyauth

- name: Create TinyAuth configuration directory
  file:
    path: /etc/tinyauth
    state: directory
    owner: tinyauth
    group: tinyauth
    mode: '0755'

- name: Create TinyAuth data directory
  file:
    path: /var/lib/tinyauth
    state: directory
    owner: tinyauth
    group: tinyauth
    mode: '0755'

- name: Create TinyAuth configuration file
  template:
    src: config.yml.j2
    dest: /etc/tinyauth/config.yml
    owner: tinyauth
    group: tinyauth
    mode: '0640'
  notify: Restart TinyAuth

- name: Create systemd service for TinyAuth
  template:
    src: tinyauth.service.j2
    dest: /etc/systemd/system/tinyauth.service
    mode: '0644'
  notify: Reload systemd

- name: Enable and start TinyAuth service
  systemd:
    name: tinyauth
    enabled: yes
    state: started
    daemon_reload: yes

- name: Configure firewall for TinyAuth
  include_tasks: firewall.yml