DATABASE_PATH=/var/lib/tinyauth/tinyauth.db
USERS='{{ tinyauth_users | default('admin:$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZAgcfl7p92ldGxad68LJZdL17lhWy') }}'
APP_URL={{ tinyauth_app_url | default('https://auth.' + domain_name) }}
