{
  "dnsServerDomain": "{{ ansible_hostname }}.local",
  "dnsServerLocalEndPoints": [
    "0.0.0.0:53",
    "[::]:53"
  ],
  "webServiceLocalAddresses": [
    "0.0.0.0"
  ],
  "webServiceHttpPort": 5380,
  "webServiceEnableTls": false,
  "webServiceTlsPort": 53443,
  "enableDnsOverHttp": true,
  "enableDnsOverTls": false,
  "enableDnsOverHttps": false,
  "dnsTlsCertificatePath": "",
  "dnsTlsCertificatePassword": "",
  "tsigKeys": [],
  "recursion": "AllowOnlyForPrivateNetworks",
  "recursionDeniedNetworks": [],
  "recursionAllowedNetworks": [],
  "randomizeName": true,
  "qnameMinimization": true,
  "nsRevalidation": true,
  "resolverRetries": 2,
  "resolverTimeout": 2000,
  "resolverMaxStackCount": 16,
  "forwarderRetries": 3,
  "forwarderTimeout": 2000,
  "forwarderConcurrency": 2,
  "clientTimeout": 4000,
  "tcpSendTimeout": 10000,
  "tcpReceiveTimeout": 10000,
  "enableLogging": true,
  "logQueries": false,
  "useLocalTime": true,
  "logFolder": "logs",
  "maxLogFileDays": 30,
  "enableInMemoryStats": true,
  "maxStatFileDays": 365,
  "blockListUrls": [],
  "blockListUpdateIntervalHours": 24,
  "proxy": null,
  "forwarders": null,
  "forwarderProtocol": "Udp",
  "enableBlocking": false,
  "allowTxtBlockingReport": true,
  "blockingType": "NxDomain",
  "customBlockingAddresses": []
}
