---
- name: Include installation tasks
  include_tasks: install.yml
  tags: ['install']

- name: Include configuration tasks
  include_tasks: configure.yml
  tags: ['configure']

- name: Include firewall tasks
  include_tasks: firewall.yml
  tags: ['firewall']
